.navbar {
    background-color: #744997;
    overflow: hidden;
  }
  
  .navbar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .navbar ul li {
    float: left;
  }
  
  .navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar ul li a:hover {
    background-color: #130D18;
    color: white;
  }