.movieRecommender {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background-color: #f0f0f0;
}

.rowC{display:flex; flex-direction:row;}

.leftComp{flex: 1; width: 30%;}

.rightComp{flex: 2; width: 70%}

.filterSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: white;
}

.genreFilter, .languageFilter, .favoriteMovies {
  flex: 1;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.genreFilter label, .languageFilter label {
  display: block;
  margin-left: 10px;
  font-size: 14px;
}

.checkboxContainer {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

input[type="checkbox"] {
  cursor: pointer;
}

.searchContainer {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.searchInput {
  width: 70%;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
}

.searchButton {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: white;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

.searchButton:hover {
  background-color: #0056b3;
}

.movieCard {
  width: 200px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.movieCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.movieCard img {
  width: 100%;
  height: auto;
  display: block;
}

.movieCard .content {
  padding: 10px;
}

.movieCard h3 {
  margin-top: 0;
  font-size: 18px;
}

.movieCard p {
  font-size: 14px;
  color: #666;
}
